body {
    font-family: 'Lato', 'sans-serif';
}

p {
    color: #A8A8A8;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #05122B;
}

a:hover {
    color: #EEF105;
    text-decoration: none;
}

.navbar {
    margin: auto;
    justify-content: space-around;
} 

.title {
    padding: 10px;
    font-weight: 900;
    font-size: 1em;
}

.subheadline {
    font-size: 0.8em;
}


/* .btn-block {
    margin-top: .5rem;
    width: 90%;
    margin: 5px auto;
    display: block;
}

.btn-block + .btn-block {
    margin-top: .5rem;
    width: 90%;
    margin: 5px auto;
}

.btn-primary {
    font-weight: 900;
    color: #fff;
    background-color: #05122B;
    border-color: #05122B;
}

.btn-primary:hover {
    color: #05122B;
    background-color: #EEF105;
    border-color: #EEF105;
} */



.btnDesign,
.btnDesktop {
    background-color: #05122B;
    border-radius: 10px;
    border: none;
    font-size: 1.3em;
    padding: 15px 20px;
    margin: 5px auto;
    display: block;
    width: 90%;
    color: #FFF;
}

.btnSubscribe {
    background-color: #00E6C2;
    border-radius: 10px;
    border: none;
    font-size: 1.3em;
    padding: 20px 20px;
    margin: 5px auto;
    display: block;
    width: 90%;
    color: #05122B;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #EEF105;
    
}

.btn:hover {
    background-color: #EEF105;
    color: #05122B;
    text-decoration: none;
}


.card-deck {
    width: 95%;
    margin: auto;  
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}

.card-text {
    padding: 1.25rem;
}

.btnCard {
    background-color: #EEF105;
    border: none;
    font-size: 1.1em;
    padding: 10px 20px;
    margin: auto;
    display: block;
    color: #05122B;
    text-align: center;
}

.btnCard:hover {
    color: rgb(0, 5, 14);
}

.card {
    border: none;
}

.eNewsIcon {    
    /* width: 30px;
    height: 30px; */
    /* padding-left: 5px; */
}

.eNewsText {
    font-size: 1.3em;
}

img {
    vertical-align: -2px;
}

.desktopLinks {
    display: none;
}

.eNewsIcon path {
    stroke: #00E6C2;
    fill: #00E6C2;
    fill-rule: nonzero;
}

/* .eNewsIcon:hover path {
    stroke: #05122B;
    fill: #05122B;
    fill-rule: nonzero;
} */

.footerText {
    color: white;
    font-weight: 900;
}

footer {
    background-color: #05122B;
    height: 60px;
    margin: auto;
    text-align: center;
    padding: 20px;
    color: white;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .btnDesign {
        display: inline-block;
    }

    .links,
    .footerLinks {
        margin: auto 30px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-md-6,
    .col-md-4 {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar {
        justify-content: space-around;
    }

    .card-deck {
        width: 90%;
    }

    .card-text {
        padding: 1rem;
    }
    
}

@media (min-width: 1024px) {

    .btnDesktop {
        display: inline;
        margin: auto;
        max-width: 24%;
        
    } 
    
    .links {
        display: none;
    }

    .desktopLinks {
        margin: auto 45px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .btn-block+.btn-block {
       margin-top: 0;
    }
}

@media (min-width: 1200px) {


}