body {
    font-family: 'Lato', 'sans-serif';
}

p {
    color: rgb(219, 218, 218);
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #05122B;
}

a:hover {
    color: rgb(211, 211, 211);
    text-decoration: none;
}

.navbar {
    margin: auto;
    justify-content: space-around;
} 

.title {
    padding: 10px;
    font-weight: 900;
    font-size: 1em;
}

.subheadline {
    font-size: 0.8em;
}

.btnDesign,
.btnDesign2,
.btnDesign3,
.btnDesign4,
.btnDesktop,
.btnDesktop2,
.btnDesktop3,
.btnDesktop4 {
    border-radius: 10px;
    border: none;
    font-size: 1.3em;
    padding: 15px 20px;
    margin: 5px auto;
    display: block;
    width: 90%;

}


.btnDesktop {
    background-color: #05122B;
    color: #FFF;
}


.btnDesign,
.btnDesktop {
    background-color: #24478F;
    color: #FFF;
}

.btnDesign:hover,
.btnDesktop:hover {
    background-color: rgb(25, 51, 104);
    color: #FFF;
}

.btnDesign2,
.btnDesktop2 {
    background-color: #CA000F;
    color: #FFF;
}

.btnDesign2:hover,
.btnDesktop2:hover {
    background-color: rgb(158, 2, 13);
    color: #FFF;
}

.btnDesign3,
.btnDesktop3 {
    background-color: #E28000;
    color: #FFF;
}

.btnDesign3:hover,
.btnDesktop3:hover {
    background-color: rgb(199, 114, 3);
    color: #FFF;
}

.btnDesign4,
.btnDesktop4 {
    background-color: #05122B;
    color: #FFF;
}

.btnDesign4:hover,
.btnDesktop4:hover {
    background-color: rgb(4, 12, 26);
    color: #FFF;
}


.btnSubscribe {
    background-color: #CA000F;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    padding: 15px 20px;
    margin: 5px auto;
    display: block;
    width: 90%;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.btnSubscribe:hover {
    background-color: rgb(158, 2, 13);
    color: #FFF;
}

.card-deck {
    width: 95%;
    margin: auto;  
    margin-bottom: 100px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
}

.card-text {
    padding: 0.5rem 1.25rem;
    color: black;
}

.card {
    border: none;
}

.btnCard {
    color: #24478F;
    border: none;
    font-size: 1.1em;
    padding: 20px 20px 5px;
    margin: auto;
    display: block;
    text-align: left;
}

.btnCard:hover {
    color: rgb(25, 51, 104);
}

.btnCard2 {
    color: #CA000F;
    border: none;
    font-size: 1.1em;
    padding: 20px 20px 5px;
    margin: auto;
    display: block;
    text-align: left;
}

.btnCard2:hover {
    color: rgb(158, 2, 13);
}

.btnCard3 {
    color: #E28000;
    border: none;
    font-size: 1.1em;
    padding: 20px 20px 5px;
    margin: auto;
    display: block;
    text-align: left;
}

.btnCard3:hover {
    color: rgb(199, 114, 3);
}

.btnCard4 {
    color: #05122B;
    border: none;
    font-size: 1.1em;
    padding: 20px 20px 5px;
    margin: auto;
    display: block;
    text-align: left;
}

.btnCard4:hover {
    color: rgb(4, 12, 26);
}


.eNewsText {
    font-size: 1.3em;
}

img {
    vertical-align: -2px;
}

.desktopLinks {
    display: none;
}


svg {
    overflow: hidden;
    vertical-align: top;
}


/* .eNewsIcon:hover path {
    stroke: #05122B;
    fill: #05122B;
    fill-rule: nonzero;
} */

.footerText {
    color: white;
    font-weight: 900;
    font-size: 1.2em;
}

footer {
    background-color: #05122B;
    height: 70px;
    margin: auto;
    text-align: center;
    padding: 20px;
    color: white;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .btnDesign {
        display: inline-block;
    }

    .links,
    .footerLinks {
        margin: auto 30px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-md-6,
    .col-md-4 {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar {
        justify-content: space-around;
    }

    .card-deck {
        width: 90%;
    }

    .card-text {
        padding: 1rem;
    }
    
}

@media (min-width: 1024px) {

    .btnDesktop,
    .btnDesktop2,
    .btnDesktop3,
    .btnDesktop4 {
        display: inline;
        margin: auto;
        max-width: 24%;
        
    } 
    
    .links {
        display: none;
    }

    .desktopLinks {
        margin: auto 45px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .btn-block+.btn-block {
       margin-top: 0;
    }
}

@media (min-width: 1200px) {


}